:root{
    --color-1: #5C646A;
    --color-2: #F6F7F8;
    --color-3: #95999D;
    --color-4: #1F2427;
    --color-5: #0D1316;

    font-family: "Roboto Mono", monospace;
    text-align: center;
}

body{
    background-color: var(--color-5);
    color: var(--color-2);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
ul{
    list-style: none;
}
h1{
    margin: 0.5em;
    font-family: "Roboto Mono", monospace;
}
canvas{
    border: 8px outset var(--color-1);
    background-color: var(--color-3);
    font-family: 'Roboto Mono', monospace;
}

#tutorial{
    max-width: 500px;
}

.disable-text{ 
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
        -moz-user-select:none; 
        -ms-user-select:none; 
        user-select:none;    
    }